## Datos entrenamiento, prueba y validacion

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [16]:
ruta = r'Scripts\DATA_TOOLS\Escalamiento, normalizacion y estandarizacion\problemas_del_corazon.csv'
ruta = ruta.replace(os.sep,'/')

In [17]:
pacientes = pd.read_csv(ruta)
pacientes

    edad  genero  presion  colesterol  diabetico  cardiaco
0     53       0      128         216          0         1
1     53       0      138         234          0         1
2     51       0      130         256          0         1
3     66       1      120         302          0         1
4     62       1      130         231          0         1
..   ...     ...      ...         ...        ...       ...
95    57       1      128         229          0         0
96    61       1      120         260          0         0
97    39       1      118         219          0         0
98    61       0      145         307          0         0
99    56       1      125         249          1         0

[100 rows x 6 columns]

Cardiaco es la variable objetivo

#### __Separacion de Datos__
60%Entrenamiento, 20%Validacion, 20% Prueba

In [31]:
features = list(set(pacientes.columns)-{'cardiaco'})
print(features)
x_data = pacientes[features]

['genero', 'colesterol', 'edad', 'presion', 'diabetico']

In [25]:
y_data = pacientes['cardiaco']

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x_data, y_data,test_size=0.2, random_state=1)

In [27]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((80, 5), (20, 5), (80,), (20,))

In [28]:
x_train

    genero  colesterol  edad  presion  diabetico
2        0         256    51      130          0
73       1         233    50      140          0
97       1         219    39      118          0
62       1         335    64      140          0
19       0         234    45      130          0
..     ...         ...   ...      ...        ...
75       0         305    51      130          0
9        1         260    45      115          0
72       1         266    54      124          0
12       0         265    71      110          1
37       0         564    67      115          0

[80 rows x 5 columns]

#### __Validacion__

In [29]:
x_train_validation,x_test_validation,y_train_validation,y_test_validation = train_test_split(x_train, y_train,test_size=0.25, random_state=1)

In [30]:
x_train_validation.shape,x_test_validation.shape,y_train_validation.shape,y_test_validation.shape

((60, 5), (20, 5), (60,), (20,))